body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background: transparent;
  color: white;
  z-index: 2;
  position: sticky;
  background-color: rgba(0, 19, 20, 1);
}

.logo-wrapper {
  padding-left: 1rem;
}

.logo-img {
  width: 120px;
}

.logo-footer {
  width: 220px;
}

.search-icon-wrapper {
  padding-right: 1rem;
}

.nav-items-list li {
  display: flex;
  list-style-type: none;
  display: inline;
  margin: 0 2rem;
  text-indent: 15px;
  padding-bottom: 1.125rem;
}

.nav-items-list li:hover {
  border-bottom: 3px solid rgba(255, 153, 0, 1);
  cursor: pointer;
  transition: all 0.2s;
}

.signin-button {
  width: 70px;
  height: 30px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: rgb(230, 230, 255, 0.4);
  color: white;
  cursor: pointer;
}

.nav-items-wrapper {
  display: flex;
}

.nav-search-icon {
  width: 25px;
  height: 15px;
  object-fit: contain;
}

.music-player-container {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 19, 20, 1);

  padding-top: 30px;
}

.audio-item {
  margin: 20px 0;
}

.audio-item audio {
  width: 100%;
}

.music-player {
  width: 700px;
  height: 700px;
  color: white;
  text-align: center;
  margin: auto;
}

.music-player img {
  width: 320px;
  border-radius: 15px;
}

.song-artist-name {
  margin: 20px;
}

.music-description {
  margin-top: 20px;
}

.footer-items {
  height: 200px;
  background-color: rgba(0, 19, 20, 1);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-list > li {
  margin-top: 15px;
}

.footer-hr {
  border-bottom: none;
}

footer {
  background-color: rgba(0, 19, 20, 1);
  color: white;
  text-align: center;
  padding: 15px 0;
}
